body{
    background-image:url('Imagenes/SALAR-DE-UYUNI-REVISTA-TIME.jpg');
 
}

h1{
    display: flex; /* visualizar contenido  */
    justify-content:center; /* se aplica a display: center para que el texto quede centrado*/
    padding: 10px; 
    background-color: #3ede2f; 
    color: #f5eeee; /*Color de letra*/
    margin: 40px;
    }

#sudamerica{ /* imagen que esta en el titulo*/
    width: 60px;
}

#root{  /* todo lo del estilo cajon de banderas*/
    width: 1200px; /* me trae el ancho del cajon*/
    display: flex; /* me muestra las banderas distribuidas en toda la pagina */
    flex-wrap: wrap; /* Permite que las banderas se denvuelvan en filas */
    justify-content: space-between; /* Distribuye las filas horizontalmente */
    padding: 30px; 
    justify-content: center; /* Centra horizontalmente */
}

anside {                      /*botones */
    padding: 300px;           /* Espaciado interno en la caja donde estan los botones*/  
}

anside button {               /* Estilos para los botones */
    margin: 10px;           /* Margen izquierdo y derecho de los botones */
    padding: 10px 15px;       /* Relleno interno de los botones */
    cursor: pointer;          /* Cambia el cursor al pasar sobre los botones */   
}


footer {
    text-align: center; /* Centra el contenido del pie de página */
    background-color: #3ede2f ; /* Color de fondo del pie de página */
    padding: 5px; /* Espaciado interno para el recuadro */
    font-family: "arial", "helvetica", sans-serif; /* tipo de letra del pie de pagina */
    color: #f5eeee;
    margin: 40px;
    font-size: 15px; /* cambia tamaño del letra de pagina */

}

.Bandera{  /*estilo de banderas */
    margin: 20PX;
    width: 250PX;
    height: 150PX;
    font-size: 1000px;
} 

/* Consulta de medios para dispositivos móviles */
@media (max-width: 767px) {
    /* Estilos específicos para dispositivos móviles */
    h1 {
        font-size: 24px;
        margin: 20px;
    }

    anside {
        padding: 5px;
    }

    anside button {
        margin: 5px 10px;
        padding: 5px 10px;
    }
}

.BanderaContenedor { 
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

.nombres {
    color: aqua;
}


















